<p style="color: green"><%= notice %></p>

<h1>Machines</h1>

<div id="machines">
  <% @machines.each do |machine| %>
    <%= render machine %>
    <p>
      <%= link_to "Show this machine", machine %>
    </p>
  <% end %>
</div>

<%= link_to "New machine", new_machine_path %>
